#for player div via class slector
.myplayer {
    margin: 0 auto;
}

.myplayer video {
    min-width: 375px;
    width: 100%;
    max-height: 100%;
  }

.myplayer .controls {
    position: relative;
    min-width: 375px;
    top: -68px;
}

.myplayer .btn,
.myplayer .btn[disabled]:hover {
  color: rgba(20, 7, 97, 0.801);
}

.myplayer .btn:hover:not([disabled]) {
  color: rgba(20, 7, 97);
}