/*for player div via class slector */
.my-player {
  margin: 0 auto;
}

.my-player video {
  min-width: 375px;
  width: 100%;
  max-height: 100%;
}

.my-player .btn,
.my-player .btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.8);
}

.my-player .btn:hover:not([disabled]) {
  color: rgba(255, 255, 255);
}

.my-player .time-tag {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  font-family: "Courier New", Courier, monospace;
}

.my-player .btn-vote {
  float: right;
}

.my-player .my-controls {
  position: relative;
  min-width: 375px;
  top: -68px;
}

.my-player .my-controls .buttons {
  padding: 0 1em;
  background-color: rgba(0, 0, 0, 0.3);
}

.my-player button:focus {
  outline: 0;
  box-shadow: none;
}
